/* --------------------------------------------------
 Custom CSS
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  /*margin-bottom: 20px;*/
  font-size: 13px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  background-color: #e6323d;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  /*border-bottom: 2px solid white;*/
  color: #fff;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #fff;
}
body > .container {
  padding: 40px 0 0; /*15px 0;*/
  width: 100%
}
.container .text-muted {
  margin: 20px 0;
  color: #fff
}
.container .text-muted a {
  color: #fff
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-default {
  background-color: #e6323d;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
  color: #fff
}

#search {
  position: absolute;
  top: 60px;
  right: 10px;
  z-index: 10;
}
.LocateButton .zoomLocateButton {
  background-color: #e6323d;
}

#LocateButton {
  position: absolute;
  top: 100px;
  right: 10px;
  z-index: 10;
}

.arcgisSearch .searchGroup .searchInput, .arcgisSearch .searchBtn {
  background-color: #e6323d;
  color: #fff
}
.esri-icon-close {
  background-color: #e6323d;
  color: #fff
}

@media (max-width: 600px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
  }

  .navbar-default .navbar-toggle .icon-bar  {
    background-color: #fff;
  }
}
